<section class="container hero">
  <h1 class="hero__headline">Express yourself... Conversalo</h1>
  <div class="hero__shot">
    <div class="hero__shot__image">
      <img id="hero-shot-image" src="{{ '/images/conversalo-shot.png' | relative_url }}" alt="conversalo whatsapp hero shot">
    </div>
    <div class="hero__shot__content">
      <h3 class="hero__shot__content__headline">Conversalo is for everyone</h3>
      <p class="hero__shot__content__paragraph">We help clients find their ideal specialist and adjust their mental well-being</p>
      <figure class="hero__shot__content__qrcode">
        <img src="{{ '/images/qrcode.png' | relative_url }}" alt="conversalo whatsapp qrcode">
        <figcaption>Scan QR Code</figcaption>
      </figure>
      <a href="/">
        Start Therapy On WhatsApp Here
      </a>
    </div>
  </div>
</section>