<section class="section stats animate">
  <div class="container">
    <div class="stats__wrapper col col-12">
      {% for stats_item in site.data.settings.stats_items %}
        <div class="stats__item">
          <div class="stats__item__title">{{ stats_item.title }}</div>
          <div class="stats__item__stat">
            {{ stats_item.stat }}
          </div>
          <div class="stats__item__description">
            {{ stats_item.description }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>